@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Radio Canada Big", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

nav .navigation {
    position: relative;
}

/*.menu-btn{
    display: none;
}*/

nav ul{
    list-style-type: none;
}
li {
    display: inline;
    float: inline-start;
}

nav ul.navbar a{
    position: relative;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

nav ul.navbar a:before{
    content: '';
    position: absolute;
    background: #ffffff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

nav ul.navbar a:hover:before{
    width: 100%;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100dvh;
    background: radial-gradient(circle, rgba(255,40,0,1) 7%, rgba(115,18,0,1) 73%, rgba(0,0,0,1) 100%);
    
    /* background: radial-gradient(circle, rgba(28,49,78,1) 0%, rgba(101,83,173,1) 39%, rgba(41,34,255,1) 100%); */

}

section {
    padding: 100px 200px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}



.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle, rgba(28,49,78,1) 0%, rgba(101,83,173,1) 39%, rgba(41,34,255,1) 100%);
}

.home::before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(98, 3, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: #ffffff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 400;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background: #ffffff;
    padding: 15px 35px;
    color: rgb(43, 70, 226);
    font-size: 1.1;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .content a:hover{
    background: rgb(43, 70, 226);
    color: #ffffff;
    border: 2px solid white;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #ffffff;
    font-size: 1.6rem;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
    background: rgb(43, 70, 226);
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.4);
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

/* ABOUT PAGE*/
section.about-section{
    background: url(/assets/Ferrari.jpg)no-repeat 0px;
    background-size: 55%;
    background-color: rgba(55, 118, 255, 0.5);
    
    /* background-color: rgba(255, 196, 0, 0.5); */
    padding: 100px 0;
    /* margin: 10rem; */
    overflow: hidden;
}

section.about-section .content{
    width: 55%;
    border-radius: 16px;
    margin-left: auto;
    margin-right: 50px;
    float: right;
    background-color: rgba(186, 126, 255, 0.836);
    padding: 60px;
    box-shadow: -12px 10px 61px 0px rgba(0,0,0,0.75);
}

section.about-section .content h1{
    margin-bottom: 3rem;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
}

section.about-section .content p {
    color: white;
}

section.about-section .content .text{
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 3rem;
}

/* EXPLORE PAGE */

section.explore-section{
    background: url(/assets/supercar.png)no-repeat center;
    background-size: 65%;
    background-color: rgba(55, 118, 255, 0.5);
    padding: 100px 0;
    /* margin: 10rem; */
    overflow: hidden;
    max-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    /* justify-items: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    
}

section.explore-section .content{
    width: 35%;
    min-width: 30vw;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.384);
    /* padding: 30px; */
    box-shadow: -12px 10px 61px 0px rgba(0,0,0,0.75);
    border-radius: 16px;
}

section.explore-section .content.one{
    background: url(/assets/Ferrari-Purosangue.jpg)no-repeat;
    background-size:cover;
}

section.explore-section .content.two{
    background: url(/assets/bugatti.jpg)no-repeat;
    background-size:cover;
}

section.explore-section .content.three{
    background: url(/assets/mclaren.jpg)no-repeat;
    background-size:cover;
}

section.explore-section .content.four{
    background: url(/assets/lambo.jpg)no-repeat;
    background-size:cover;
}

section.explore-section .content h1{
    margin-bottom: 30px;
    margin-left: 11rem;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(89, 38, 109);
    border-radius: 10px;
    font-weight: 900;
}

section.explore-section .content .text{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.329);
    color: rgb(255, 255, 255);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

/* GALLERY PAGE */
section.gallery-section {
    background-color: rgba(55, 118, 255, 0.5);
    
}

section.gallery-section .content{
    max-width: 100vw;
    /* position:absolute; */
    /* display: grid; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* grid-template-rows: min-content; */
    position:relative;
    background: rgba(3, 94, 251, 0.075);
    box-shadow: -12px 10px 61px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

section.gallery-section .content h1{
    color: #ffffff;
    text-shadow: 4px 4px 4px rgba(1, 1, 1, 0.8), 4px 4px 4px rgba(255, 255, 255, 0.8);
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.gallery-section .content .options img{
    border-radius: 5%;
    min-width: 22vw;
    max-height: 22vh;
    margin: 5px;
    display: inline-flex;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

section.gallery-section .content .options img:hover{
    box-shadow: -12px 10px 61px 0px rgb(186, 126, 255);
}

/* CONTACT PAGE */
section.contact-section {
    background-color: rgba(55, 118, 255, 0.5);
    /* max-height: 100vh; */
    display: flex;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
}

/*section.contact-section section.contact-form h1 {
    text-align: center;
    /* margin-bottom: 20px; */
    /* position:fixed; 
    color: #ff0000;
    padding-left: 10rem;
    margin-bottom: 20rem;
    font-size: 4rem;
    /* box-sizing:content-box; 
} */

.contact-form {
    /* max-height: 30vh; */
    min-height: 50vh;
    min-width: 50vw;
    background: #f9f9f9;
    padding: 10px;
    display: flex;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgb(0, 0, 0); */
    box-shadow: -12px 10px 61px 0px rgba(0,0,0,0.75);
}

section.contact-form h2 {
    color: rgb(107, 2, 107);
    display: flex;
    flex-direction: column;
    /* margin-bottom: 18rem; */
    text-align: center;
}
.contact-form.contact-text img{
    padding: 0;
    margin: 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

.contact-form button:hover {
    background-color: rgb(107, 2, 107);;
}


@media (max-width: 1040px){
    body {
        overflow-x: hidden;
    }

    header{
        padding: 12px 20px;
    }

    section{
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        /*display: none;*/
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navbar li{
        display: flex;
        justify-content: space-between;
    }

    header .navigation .navbar li a{
        color: #222;
        font-size: 1.2rem;
        margin: 10px;
    }

    header .navigation .navbar li a::before{
        background: #222;
        height: 5px;
    }

    header .navigation.active .navbar{
        background: #ffffff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    
    .menu-btn {
        background: url(/assets/menuBtn.svg)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(/assets/closeBtn.svg)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }

    /* ABOUT PAGE*/
section.about-section{
    background-size:auto;
    padding: auto;
    margin: 0;
}

section.about-section .content{
    margin: auto;
    width: 95%;
    border-radius: 16px;
    background-color: rgba(186, 126, 255, 0.836);
    box-shadow: -12px 10px 61px 0px rgba(0,0,0,0.75);
}


section.explore-section{
    background-size: 65%;
    background-color: rgba(55, 118, 255, 0.5);
    padding: 0;
    /* margin: 10rem; */
    /* overflow: hidden; */
    /* max-height: 100vh; */
    min-width: 50vw;
    display: flex;
    overflow: auto;
    flex-direction:row;
    justify-items: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */
    
}

section.explore-section .content{
    width: 95%;
    min-width: 30vw;
}

section.contact-section section.contact-form {
    display: flex;
    flex-direction: column;
    min-width: 95vw;
}

section.contact-form .contact-text{
    margin-right: 0px;
    margin-left: 0px;
}

section.contact-form .contact-text img{
    /* display: none; */
    block-size: 12rem;
    /* margin-top: 12rem; */
}

section.contact-form .contact-text h2{
    /* margin-bottom: 20rem; */
    background-color: rgba(102, 51, 153, 0.205);
    border-radius: 20px;
    padding: 8px 0px;
    color: white;
}

section.contact-form {
    padding: 15px;
}

section.contact-form input,
section.contact-form textarea {
    font-size: 14px;
}

section.contact-form button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
}
section.contact-form button:hover{
    background-color: rebeccapurple;
}

}

footer {
    background: rgba(92, 12, 172, 0.267);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}